<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="Your_WebApp_ID"
        version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>config</servlet-name>
        <jsp-file>/jsp/config.jsp</jsp-file>
        <init-param>
            <param-name>cname</param-name>
            <param-value>Aptech Computer Education</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.ky.servlets.TestServlet</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>MyPageServlet</servlet-name>
    <servlet-class>com.ky.servlets.MyPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPageServlet</servlet-name>
        <url-pattern>/mypage</url-pattern>
    </servlet-mapping>
</web-app>
